@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Philippo Rodrigues</h1>
    <p>philippo.rodrigues@al.infnet.edu.br</p>
</div>

<div>
    <h4>Software como serviço (SaaS)</h4>
    <p>
        ASP.NET gives you a powerful, patterns-based way to build dynamic websites using the MVC
        pattern that enables a clean separation of concerns.
    </p>

    <h4>Plataforma como serviço (PaaS)</h4>
    <p>
        NuGet (pronounced "New Get") is a free and open-source package
        manager designed for the Microsoft development platform (formerly known as NuPack).
        Since its introduction in 2010, NuGet has evolved into a larger ecosystem of tools and services.
    </p>

    <h4>Infraestrutura como serviço (IaaS)</h4>
    <p>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
    </p>
</div>
