@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Philippo Rodrigues</h1>
    <p>philippo.rodrigues@al.infnet.edu.br</p>
</div>

<div>
    <h4>Software como serviço (SaaS)</h4>
    <p>
        SaaS é uma forma de de distribuição da aplicação, em que o fornecedor dessa é
        é responsável por toda a estrutura para que o sistema fique disponível e, assim, o
        cliente possa utilize-o, na internet, pagando um valor por esse serviço.
        O SaaS pode ser encontrado em serviços como PayPal e serviços fornecidos pela Google.
    </p>

    <h4>Plataforma como serviço (PaaS)</h4>
    <p>
        O PaaS utiliza uma plataforma como serviço, como um serviço de hospedagem e de implementação
        de hardware e software. O Azure e o Jenkins são exemplos de plataformas que utilizam esse
        tipo de ambiente de desenvolvimento.
    </p>

    <h4>Infraestrutura como serviço (IaaS)</h4>
    <p>
        É uma modalidade que possibilita que empresas e/ou pessoas utilizem recursos de hardware como
        um serviço de rede (capacidade de processamento, impressão, etc.). A Amazon EC2, DigitalOcean
        e VMWare são exemplos de plataformas que utilizam o IaaS.
    </p>
</div>
