<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/17fd3df6-aebd-4019-820c-13dfc7fcb943/resourceGroups/appAzurePhAds2020/providers/Microsoft.Web/sites/appAzurePhAds2020</ResourceId>
    <ResourceGroup>appAzurePhAds2020</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://appazurephads2020.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>appazurephads2020.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appAzurePhAds2020</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appAzurePhAds2020</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>